* {
	padding: 0;
	margin: 0;
}

body, html {
	height: 100%;
}

body {
    overflow: hidden;
    background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color: #282828;
    background-size: 16px 16px;
} 

.app {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   overflow: auto
   white-space: nowrap;
   text-align: center;
   font-size: 0;
}

.app:before {
   height: 100%;
   display: inline-block;
   vertical-align: middle;
   content: '';
}

.js-app {
   display: inline-block;
   white-space: normal;
   vertical-align: middle;
   text-align: left;
}