.menu {
  background-color: #444444;
  color: #fff;
  border: 1px solid #444444;

  width: 400px;
  margin: auto;
}
  .menu__list {
    display: block;
    border: none;
  }

  .menu__title {
    font-size: 17px;
    font-weight: 700;
    padding: 3px 10pt;
    background-color: #444444;
    font: 400 13pt Arial, sans-serif;
  }

    .menu__item {
      background-color: #dcd8d0;
      color: #3c3830;
      margin: 1px 0;
      padding: 4px 6pt 4px 12pt;
      cursor: pointer;
      text-align: left;
      font: 400 12px Tahoma, Verdana, Arial, sans-serif;
    }

    .menu__item:hover {
      background-color: #c8c8c0;
      color: #2c2820;
    }

    .menu__controls {
      float: right;
      /*color: #8c8880;*/
      color: #dcd8d0;
      padding: 0;
      font: 900 12pt Arial, sans-serif;
    }

    .menu__controls:hover {
      color: #2c2820;
    }

    .menu__hidden {
      display: none;
    }

